nav {
    display: flex;
    position: relative;
}

nav .nav-banner {
    width: 100%;
    position: absolute;
    height: 4rem;
    background: #eeeeee;
    top: 5rem;
    z-index: -1;
}

nav img {
    max-width: 10rem;
    margin: 2rem;
    border-radius: 50%;
    height: auto;
}

nav .navigation-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    padding: 0 1.25rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #2c363f;
    font-size: 1.1rem;
}

nav .active::after {
    content: "";
    height: 0.5rem;
    display: block;
    border: solid 2px #CBB46A;
    border-top: none;
    width: calc(100% + 1rem);
    margin: -0.25rem -0.65rem;
}