.headline-banner {
    background-color: #E8AEB7;
    max-height: 25rem;
    margin-top: 5rem;
    position: relative;
}

.headline-banner .image-container {
    height: 30rem;
    width: 30rem;
    position: relative;
    top: -2.5rem;
    left: 5rem;
}

.headline-banner .image-container img {
    height: 100%;
}

.headline-banner .image-overlay {
    height: 90%;
    width: 90%;
    position: absolute;
    left: 5%;
    top: 5%;
    border: 1px solid white;
}

.headline-banner .quote-container {
    height: 8rem;
    width: 30rem;
    background: #FFF0FD;
    position: absolute;
    top: 6.5rem;
    left: 34rem;
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
}

.headline-banner h2 {
    font-size: 3.25rem;
    margin: 0;
}