.image-container {
    height: 30rem;
    width: 30rem;
    position: relative;
    top: -2.5rem;
    left: 5rem;
}

.image-container img {
    height: 100%;
}

.image-overlay {
    height: 90%;
    width: 90%;
    position: absolute;
    left: 5%;
    top: 5%;
    border: 1px solid white;
}
