@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

@font-face {
  font-family: 'RaybentMango';
  src: url('./assets/RaybentMango.ttf') format('truetype')
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  background: #fbf9f9;
  color: #635142;
}
