@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

@font-face {
  font-family: 'CountrysideTwo';
  src: url('./assets/CountrysideTwo.ttf') format('truetype')
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  background: #fbf9f9;
  color: #635142;
}

h1 {
  font-family: 'CountrysideTwo';
}

@media only screen and (max-width: 450px) {
  nav {
    flex-direction: column;
  }

  nav img {
    margin: 0.5rem 2rem;
  }

  nav .navigation-links {
    flex-direction: column;
    margin: 0 0 1rem 0;
    align-items: center;
  }

  nav .navigation-links a {
    margin: 1rem;
  }

  .headline-banner .image-container,
  .contact .image-container {
    top: 0;
    left: 0;
    height: 20rem;
    width: 20rem;
    margin: auto;
  }

  .headline-banner .quote-container {
    height: auto;
    top: auto;
    width: auto;
    position: inherit;
    left: auto;
    padding: 2rem;
  }

  .headline-banner h2 {
    font-size: 1.5rem;
  }

  .about-text {
    margin: 0;
    padding: 1rem 2rem;
  }

  .socials > div {
    margin: 2rem 1rem;
  }


  .services-container-outer {
    width: auto;
    margin: 0 1rem;
    padding: 3rem;
  }

  .services-container-outer > div > div {
    padding: 2rem 0.5rem;
  }

  .service,
  .headline-banner {
    margin: auto;
  }

  .back-panel {
    background-color: inherit; 
  }

  .background-panel {
    margin: 1rem;
    padding: 0;
  }

  .background-panel > div {
    margin: 0;
  }

  .gutter-container {
    padding: 0 2rem;
  }

  .gutter-container > p {
    text-align: justify;
  }

  .day {
    margin: 0;
  }
}